@model ErrorViewModel
@{
    ViewData["Title"] = "Fehler";
}

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Während Ihrer Anfrage ist ein Fehler aufgetreten.</h2>

@if(Model.Fehler.Any())
{
    <div class="alert alert-danger">
        @foreach (var item in Model.Fehler)
        {
            <p>@item</p>
        }


    </div>
}